* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.gameside {
  border: 2px solid red;
  flex: 1;
  text-align: center;
}

.deckside {
  border: 2px solid blue;
  flex: 1;
  text-align: center;
  overflow: scroll;
}

.dToonCard {
  border: 2px solid black;
}